.grain {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    pointer-events: none;
    opacity: 0;
    animation: 1s ease-in-out forwards grain-fadeIn;
    animation-delay: 500ms;
}

.grain::after {
    content: "";
    height: 400vh;
    width: 400vw;
    background-image: url("/images/overlays/noise2.webp");
    position: absolute;
    top: calc(50% - 200vh);
    left: calc(50% - 200vw);
    animation: 8s steps(10) 0s infinite grain;
}

@keyframes grain {
    0%,
    100% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-5%, -10%);
    }
    20% {
        transform: translate(-15%, 5%);
    }
    30% {
        transform: translate(7%, -25%);
    }
    40% {
        transform: translate(-5%, 25%);
    }
    50% {
        transform: translate(-15%, 10%);
    }
    60% {
        transform: translate(15%, 0%);
    }
    70% {
        transform: translate(0%, 15%);
    }
    80% {
        transform: translate(-5%, -25%);
    }
    90% {
        transform: translate(-10%, 10%);
    }
}

@keyframes grain-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.4;
    }
}
