@import "tailwindcss";

:root {
    --accent: #71b6ff;

    --background-primary: #000000;
    --foreground-primary: #eee8e0;
    --foreground-dim: #e4e6ef80;
    --foreground-dimmer: #eee8e015;

    --icon-active: #eec997;
}

@theme inline {
    --color-accent: var(--accent);

    --color-background-primary: var(--background-primary);
    --color-foreground-primary: var(--foreground-primary);
    --color-foreground-dim: var(--foreground-dim);
    --color-foreground-dimmer: var(--foreground-dimmer);

    --color-icon-active: var(--icon-active);

    --font-nunito: var(--font-nunito);
    --font-sans: var(--font-work-sans);
    --font-satoshi: var(--font-satoshi);

    --ease-overshoot: linear(0, 0.807 15.8%, 1.05 24.4%, 1.196 33.8%, 1.245 41.6%, 1.242 50.6%, 1.038 84%, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #71b6ff;

        --background-primary: #000000;
        --foreground-primary: #eee8e0;
        --foreground-dim: #e4e6ef80;
        --foreground-dimmer: #eee8e015;

        --icon-active: #eec997;
    }
}

body {
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--background-primary);
    color: var(--foreground-primary);
    font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Make the scrollbar transparent */
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

/* Make the thumb thinner */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    border: none;
    height: 8px;
}

.shade-3d {
    box-shadow:
        inset 1px 1px 4px 0 rgba(255 255 255 / 0.05),
        inset -3px -3px 4px 0 rgba(0 0 0 / 0.1);
}

@layer base {
    .section {
        @apply flex w-full flex-col gap-10 px-4;
    }
}
