@import "tailwindcss";

:root {
    --white: #f6fbff;
    --black: #000000;
    --accent: #69acf7;
    --accent-secondary: #f7b569;

    --background-primary: var(--black);
    --background-secondary: #131313;
    --foreground-primary: var(--white);
    --foreground-dim: #e4e6ef80;
    --foreground-dimmer: #93939315;
}

@custom-variant light (&:is(.light, .light *));
.light {
    --background-primary: var(--white);
    --background-secondary: #e0dfde;
    --foreground-primary: var(--black);
    --foreground-dim: #434340;
    --foreground-dimmer: #bababa;
}

@theme inline {
    --color-white: var(--white);
    --color-black: var(--black);
    --color-accent: var(--accent);
    --color-accent-secondary: var(--accent-secondary);

    --color-background-primary: var(--background-primary);
    --color-background-secondary: var(--background-secondary);
    --color-foreground-primary: var(--foreground-primary);
    --color-foreground-dim: var(--foreground-dim);
    --color-foreground-dimmer: var(--foreground-dimmer);

    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);
    --font-special: var(--font-special);

    --ease-overshoot: linear(0, 0.807 15.8%, 1.05 24.4%, 1.196 33.8%, 1.245 41.6%, 1.242 50.6%, 1.038 84%, 1);
}

@layer base {
    body {
        @apply bg-background-primary text-foreground-primary min-h-screen min-w-80 font-serif transition-colors duration-300;
    }

    .section {
        @apply flex min-h-screen w-full flex-col gap-10 px-4 md:px-8;
    }

    .dark {
        @apply text-foreground-primary;
    }

    .light {
        @apply text-foreground-primary;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
