@import "tailwindcss";

:root {
    --white: #eee8e0;
    --black: #000000;
    --accent: #69acf7;

    --background-primary: var(--black);
    --background-secondary: #131313;
    --foreground-primary: var(--white);
    --foreground-dim: #e4e6ef80;
    --foreground-dimmer: #eee8e015;

    --icon-active: #f7b569;
}

/* @custom-variant dark (&:is(.dark, .dark *));
.dark {
    --background-primary: var(--black);
    --foreground-primary: var(--white);
} */

@custom-variant dark-foreground (&:is(.dark-foreground, .dark-foreground *));
.dark-foreground {
    --foreground-primary: var(--black);
}

@theme inline {
    --color-white: var(--white);
    --color-black: var(--black);
    --color-accent: var(--accent);

    --color-background-primary: var(--background-primary);
    --color-background-secondary: var(--background-secondary);
    --color-foreground-primary: var(--foreground-primary);
    --color-foreground-dim: var(--foreground-dim);
    --color-foreground-dimmer: var(--foreground-dimmer);

    --color-icon-active: var(--icon-active);

    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);
    --font-special: var(--font-special);

    --ease-overshoot: linear(0, 0.807 15.8%, 1.05 24.4%, 1.196 33.8%, 1.245 41.6%, 1.242 50.6%, 1.038 84%, 1);
}

@layer base {
    body {
        @apply bg-background-primary text-foreground-primary min-h-screen min-w-80 scroll-smooth font-serif transition-colors duration-300;
    }

    .section {
        @apply mt-50 flex min-h-screen w-full flex-col gap-10 px-4 md:px-8;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
